{#<!DOCTYPE html>#}
{#<html>#}
{#<head>#}
{#    <title>School Map</title>#}
{#</head>#}
{#<body>#}
{#    <form action="{% url 'school_map' %}" method="POST">#}
{#        {% csrf_token %}#}
{#        <label for="county">County:</label>#}
{#        <input type="text" name="county"><br>#}
{#        <label for="school_name">School Name:</label>#}
{#        <input type="text" name="school_name"><br>#}
{#        <label for="district">District:</label>#}
{#        <input type="text" name="district"><br>#}
{#        <input type="submit" value="Filter">#}
{#    </form>#}
{#</body>#}
{#</html>#}
